body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../../../assets/images/mseuf bg.png");
  background-size: 100% 100%;
  color: #333;

}

.sticky-nav {
  background-image: linear-gradient(to right, #800000,
      #800000,
      #800000, #470000);
  padding: 1px 0;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px;

}


.header-container .logo {
  height: 50px;
  margin-left: 10px;
}

.header-container nav {
  flex: 2 2 auto;
  text-align: end;
  font-weight: 700;

}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 100px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  border-color: color#fff;
  transition: color 0.2s ease, box-shadow 0.2s ease;
}

header nav a:hover {
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #800000;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.login-container {
  background-color: #FFFFFF;
  border: 1px solid #800000;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  width: 300px;
  height: 491px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-container .logo-container {
  text-align: center;
}

.login-container .form-logo {
  height: 80px;
}

.admission-header h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #800000;
  margin-top: 1px;
  margin-bottom: 1px;
}

.login-container h2 {
  text-align: left;
  color: #800000;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 1px;
}

.login-container .text1 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 13px;
}

.login-container .text2 {
  margin-top: 10px;
  margin-bottom: 1px;
  font-weight: bold;
  color: #800000;
}

.login-container label {
  display: block;
  margin-top: 1px;
  margin-bottom: 1px;
}

.login-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #800000;
  border-radius: 5px;
}

.login-container .forgot-password {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: #800000;
  text-decoration: none;
}

.login-container .forgot-password:hover {
  text-decoration: underline;
}

.login-container button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #800000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.login-container button:hover {
  background-color: #660000;
}

.announcements-container {
  width: 580px;
  height: 510px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #800000;
  padding: 20px;
  padding-top: 1px;
  border-radius: 30px;
  margin-top: 70px;
}

.announcements-container h1 {
  text-align: center;
  color: #800000;
  font-weight: bolder;
}

.Announcements {
  width: 100%;
  height: 80%;
  padding: 1px;
  border-radius: 30px;
  margin-top: 20px;
  overflow-y: auto;
  padding-right: 10px;
}

.Announcements::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.Announcements::-webkit-scrollbar-thumb {
  background-color: #800000;
  border-radius: 10px;
}

.announcement {
  font-size: 15px;
  background: rgba(128, 0, 0);
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.announcement h2 {
  color: #fff;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bolder;
  text-align: left;
}