body,
section {
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#topbar {
    display: flex;
    flex-direction: row-reverse;
    height: 6rem;
    background: #940000;
    color: white;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
}

#user-img {
    /* position: relative; */
    width: 3rem;
    /* transform: translate(-50%,45%); */
    /* float: right; */
}

#user-name {
    font-weight: 800;
    font-size: 1.5rem;
}

.topbar-placeholder-icon {}

section {
    flex: 1 1 0%;
    display: flex;
}

#sidebar {
    min-width: 20rem;
    width: 20rem;
    background: white;
    height: 100%;
    z-index: 2;
}

#logo {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

#euc-img {
    width: 8rem;
}

#sidebar-title {
    text-align: center;
    color: #940000c0;
    padding-left: 2rem;
    padding-right: 2rem;
}

#sidebar-buttons {
    color: rgb(29, 29, 29);
}

.sidebar-btn {
    position: relative;
    display: flex;
    gap: 2rem;
    padding-left: 1rem;
    left: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    height: 3.5rem;
}

.sidebar-btn:hover {
    background-color: rgba(65, 105, 225, 0.158);
}

.active-sidebar-btn {
    color: white;
    background-color: #940000;
}

.active-sidebar-btn .sidebar-btn-text {
    color: white;
}

.active-sidebar-btn:hover {
    background-color: goldenrod;
}

.sidebar-btn-icons {
    width: 1.5rem;
    /* border: 1px green dashed; */
}

.sidebar-btn-text {
    color: rgb(29, 29, 29);
    /* padding-left: 1.5rem; */
    font-size: larger;
    font-weight: bold;
    /* border: 1px green dashed; */

}

main {
    /* background: rgb(250, 241, 241); */
    background-image: url("../assets/images/mseuf bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    flex: 1 1 0%;
    overflow: auto;
    padding: 1rem;
}

.content {
    /* border: 1px black dashed; */
    height: 100%;
}

.tile-icon {
    max-height: 2.5rem;
    min-width: 2.5rem;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* background-color: white; */
}

.tile-arrow {
    width: 1rem;
}

.tile-top {
    display: flex;
    justify-content: space-around;
    height: 20%;
    gap: .7rem;
}

.tile-top-text {
    display: flex;
    flex-direction: column;
}

.text1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5rem;
    text-overflow: ellipsis;
}

.subtext {
    margin-top: 0;
}

.tile-bottom-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text2 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 900;
}

.subtext2 {
    font-weight: bolder;
}

#content-cards {
    /* border: 2px cadetblue dashed; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    height: inherit;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 2px black dashed; */
    border-radius: 0.5rem;
    background-color: #940000;
    padding: 1.5rem;
    width: 100%;
    min-width: 20rem;
    height: 16rem;
    -webkit-box-shadow: 9px 27px 62px -54px rgba(105, 98, 105, 0.75);
    -moz-box-shadow: 9px 27px 62px -54px rgba(105, 98, 105, 0.75);
    box-shadow: 9px 27px 62px -54px rgba(105, 98, 105, 0.75);
}


#applicants-tile-icon,
#announcements-tile-icon,
#settings-tile-icon {
    background-color: #940000;
    color: white;
    /* min-width: 2rem;
    min-height: 2rem; */
}

#total-applicants-tile,
#total-announcements-tile,
#settings-tile,
#enroll-tile {
    color: #940000ee;
    background-color: white;
    height: 90%;
    /* min-width: 16rem; */
    /* margin-bottom: 0; */
    /* border: 2px black solid; */
}

#total-applicants-tile:hover,
#total-announcements-tile:hover,
#settings-tile:hover,
#enroll-tile:hover {
    background-color: rgb(255, 240, 202);
}

#settings-tile-container {
    background-color: #940000d8;
    width: 100%;
    height: 80%;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* border: 2px cyan dashed; */
    align-self: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    gap: 1rem;
    font-weight: 700;
    font-size: large;
    accent-color: green;
    justify-content: center;
}

#tile-settings-text {
    margin-top: 0.5rem;
}

#stats-tile {
    grid-column: span 2;
    /* min-width: 20rem; */
    height: 110%;
    overflow: auto;
    margin-top: -2rem;
}

#chart-container {
    display: flex;
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    /* width: 100%; */
    height: 100%;
    justify-content: center;
    /* border: 1px lime dashed; */
}

#stats-tile-header {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    height: fit-content;
    margin: 0;
    padding: 0;
}

#stats-tile-btn {
    display: flex;
    gap: 1rem;
}

#stats-tile-title {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    font-size: x-large;
    font-weight: 600;
}

#stat-sorting,
#go-to-stats-btn {
    background-color: white;
    border-radius: 1rem;
    padding: 0.2rem;
    border: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-weight: 600;
    color: #940000;
    text-wrap: balance;
    text-align: center;

}

#enroll-tile {
    height: 110%;
    overflow: auto;
    margin-top: -2rem;
}

#donut-title {
    margin: 0;
    color: #940000;
    font-size: large;
    font-weight: 600;
    text-align: center;
}

#donut-container {
    display: flex;
    background-color: white;
    overflow: auto;
    padding: 1rem;
    justify-content: center;
    border-radius: 1rem;
}

@media screen and (max-width: 1366px) {
    .dashboard-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* border: 2px black dashed; */
        border-radius: 0.5rem;
        background-color: #940000;
        padding: 1.5rem;
        width: 100%;
        min-width: 16rem;
        height: 12rem;
        -webkit-box-shadow: 9px 27px 62px -54px rgba(105, 98, 105, 0.75);
        -moz-box-shadow: 9px 27px 62px -54px rgba(105, 98, 105, 0.75);
        box-shadow: 9px 27px 62px -54px rgba(105, 98, 105, 0.75);
    }

    #sidebar {
        min-width: 16rem;
        width: 16rem;
        background: white;
        height: 100%;
    }

    #topbar {
        display: flex;
        flex-direction: row-reverse;
        height: 4rem;
        background: #940000;
        color: white;
        align-items: center;
        gap: 2rem;
        padding-right: 2rem;
    }

    #user-img {
        /* position: relative; */
        width: 2rem;
        /* transform: translate(-50%,45%); */
        /* float: right; */
    }

    #user-name {
        font-weight: 800;
        font-size: 1rem;
    }

    #euc-img {
        width: 6rem;
    }

    #sidebar-title {
        text-align: center;
        color: #940000c0;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: medium;
    }

    .sidebar-btn {
        position: relative;
        display: flex;
        gap: 1.5rem;
        padding-left: 1rem;
        left: 0.5rem;
        align-items: center;
        border-radius: 0.5rem;
        height: 3rem;
    }

    .sidebar-btn-text {
        color: rgb(29, 29, 29);
        /* padding-left: 1.5rem; */
        font-size: medium;
        font-weight: bold;
        /* border: 1px green dashed; */

    }
}